<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/login.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
  </head>
  <body>
    <div class="background">
      <div class="login-container">
        <h2>reset password</h2>
        <p class="subtitle">Enter your email to reset your password</p>
        <form method="POST" action="{{ url_for('reset_password') }}">
          <div class="input-group">
            <i class="fas fa-envelope"></i>
            <input type="email" name="email" placeholder="EMAIL" required />
          </div>
          <div class="extra-links">
            <a href="{{ url_for('login') }}">Back to login</a>
          </div>
          <button class="login-btn" type="submit">SEND RESET LINK</button>
        </form>
        {% with messages = get_flashed_messages() %} {% if messages %}
        <div class="flash-message">
          {% for message in messages %}
          <p>{{ message }}</p>
          {% endfor %}
        </div>
        {% endif %} {% endwith %}
      </div>
    </div>
  </body>
</html>
